{sub_dirs, [
            "apps/",
            "rel"]}.

{deps_dir, ["deps"]}.
{erl_opts, [native, {hipe, []}, debug_info, fail_on_warning]}.
{eunit_compile_opts, [native, {hipe, [verbose]}, debug_info]}.

{deps, [{bitter_bloom, ".*", {git, "https://github.com/mbrix/bitter_bloom.git"}},
        {proper, ".*", {git, "https://github.com/manopapad/proper.git"}}
]}.
